container{
  
}
/*------------------------------------*/
header{
  
}
myName{
  
}
siteDescription{
  
}
/*-------------------------------------*/
nav{
  
}
.button{
  background-color: #008CBA;/* Blue */
  color: white;
  padding: 15px 32px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
/*-------------------------------------*/
footer{
  
}
